.ad {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 3px;
  background-color: #ccc;
/*  border-width: 0 3px 0 3px;
  border-style: solid;
  -webkit-border-image:
    -webkit-gradient(linear, 0 0, 100% 0, from(gray), to(rgba(0, 0, 0, 0))) 1 100%;
  -webkit-border-image:
    -webkit-linear-gradient(left, gray, rgba(0, 0, 0, 0)) 1 100%;
  -moz-border-image:
    -moz-linear-gradient(left, gray, rgba(0, 0, 0, 0)) 1 100%;
  -o-border-image:
    -o-linear-gradient(left, gray, rgba(0, 0, 0, 0)) 1 100%;
  border-image:
    linear-gradient(to left, gray, rgba(0, 0, 0, 0)) 1 100%;*/
}

.ad div {
  background-color: white;
  height: 196px;
}