.ad {
  width: 200px;
  height: 200px;
  position: fixed;
  top: 0px;
  right: 0px;
  padding: 3px;
  background-color: #ccc;
/*  border-width: 0 3px 0 3px;
  border-style: solid;
  -webkit-border-image:
    -webkit-gradient(linear, 0 0, 100% 0, from(gray), to(rgba(0, 0, 0, 0))) 1 100%;
  -webkit-border-image:
    -webkit-linear-gradient(left, gray, rgba(0, 0, 0, 0)) 1 100%;
  -moz-border-image:
    -moz-linear-gradient(left, gray, rgba(0, 0, 0, 0)) 1 100%;
  -o-border-image:
    -o-linear-gradient(left, gray, rgba(0, 0, 0, 0)) 1 100%;
  border-image:
    linear-gradient(to left, gray, rgba(0, 0, 0, 0)) 1 100%;*/
  text-align: right;
}

.ad span {
  /*float: right;*/
  display: inline-block;
  width: 20px;
  height: 20px;
  font-size: 0.85em;
  text-align: center;
  border-left: 1px solid white;
  border-top: 1px solid white;
  -webkit-box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.75);
}

.ad div {
  background-color: white;
  height: 160px;
}